*{
  font-family: 'Open Sans', sans-serif;
}

header img{
  width: 80px;
  height: 80px;
}

ul{
   margin-left: 0px;
   padding-left: 0px;
}

#timeLeft{
  color: black;
  font-size: 30px;
}

#correctAnswers{
  color: black;
  font-size: 30px;
}

